* Métodos em listas

* **Métodos em List** / **Descrição**

* append() -> Adiciona um elemento ao final da lista.
* insert() -> Adiciona um elemento em um índice especificado.
* extend() -> Adiciona os elementos de um iterável no final de uma lista.
* pop() -> Remove e retorna um elemento de um índice especificado.
* remove() -> Remove o primeiro elemento com o valor especificado.
* clear() -> Remove todos os elementos de uma lista.
* copy() -> Retorna uma cópia da lista selecionada.
* sort() -> Ordena a lista.
* reverse() -> Reverte a ordem dos elementos em uma lista.
* index() -> Retorna o primeiro índice do elemento especificado.
* count() -> Conta o número de vezes que o elemento aparece na lista.

append() -> Adiciona um elemento ao final da lista.

In [1]:
numeros = [45, 50, 55]  #declara a lista
numeros.append(60)  #adiciona o número 60 ao final da lista

In [2]:
numeros

[45, 50, 55, 60]

In [3]:
numeros.append(77)

In [4]:
numeros

[45, 50, 55, 60, 77]

Se fizermos numeros.append(60,61) teremos:

* TypeError: append() takes exactly one argument (5 given)

Ou seja, o método append recebe apenas um argumento. Poderíamo então colocar os números dentro de uma lista ou tupla e passar como argumento de função append.

In [5]:
numeros.append([60,65])

In [6]:
numeros

[45, 50, 55, 60, 77, [60, 65]]

extend() -> Adiciona os elementos de um iterável no final de uma lista.

In [7]:
numeros = [0, 0, 0, 0]  #declaramos uma lista
numeros.extend([1, 2, 3])  #adicionamos apenas os números do iterável

In [8]:
numeros

[0, 0, 0, 0, 1, 2, 3]

In [11]:
numeros.extend([60, 61])

In [12]:
numeros

[0, 0, 0, 0, 1, 2, 3, 'a', 'b', 'c', 'd', 'e', 'f', 60, 61]

In [9]:
numeros.extend("abcdef")  #adicionamos as letras da string

In [10]:
numeros

[0, 0, 0, 0, 1, 2, 3, 'a', 'b', 'c', 'd', 'e', 'f']

insert() -> Adiciona um elemento em um índice especificado.

* lista.insert(index,object) - primeiro passamos o índice e depois o objeto.

In [13]:
numeros = [4, 10, 11, 12, 7, 9, 15]  #declara a lista

In [16]:
numeros[1]

0

In [17]:
numeros.insert(1, 0)  #insere o número 0 no índice

In [18]:
numeros

[4, 0, 0, 10, 11, 12, 7, 9, 15]

In [19]:
numeros[1]

0

remove() -> Remove o primeiro elemento com o valor especificado.

ValueError: se inserirmos um valor que não esteja na lista teremos esse tipo de erro.

In [21]:
numeros = [10, 11, 12, 13]
numeros.remove(13)  #removemos o número 13 da lista

In [22]:
numeros

[10, 11, 12]

In [23]:
numeros.remove(15)

ValueError: list.remove(x): x not in list

pop() -> Remove e retorna um elemento de um índice especificado.

In [24]:
numeros = ["k", "m", "z", "a", "b", "o"]

In [25]:
numeros.pop()  #se não inserirmos o índice, o último elemento será removido

'o'

In [26]:
numeros

['k', 'm', 'z', 'a', 'b']

In [27]:
numeros.pop(1)  #remove o retorna o elemento com índice 1

'm'

In [28]:
numeros

['k', 'z', 'a', 'b']

Também podemos deletar elementos de uma lista com a instrução del:

In [29]:
letras = ["k", "i", "j", "m"]
del letras[0]  #deletamos o item do índice 0

In [30]:
letras

['i', 'j', 'm']

Podemos deletar completamente a lista:

In [31]:
del letras

In [32]:
letras

NameError: name 'letras' is not defined

Já não temos mais a lista letras. Se tentarmos acessá-la teremos: NameError.

clear() -> Remove todos os elementos de uma lista.

In [33]:
letras = ["abc", "ab", "a"]
letras.clear()

In [34]:
letras

[]

count() -> Conta o número de vezes que o elemento aparece na lista.

In [37]:
numeros = [1, 1, 1, 0, 0, 0, 5, 3, 1, 2]

In [38]:
numeros.count(1)  #conta o número de ocorrências do número 1

4

In [39]:
numeros.count(0)

3

reverse() -> Reverte a ordem dos elementos em uma lista.

In [40]:
numeros = [10, 11, 12, 13, 14, 15]
numeros.reverse()  #inverte a ordem da lista

In [41]:
numeros

[15, 14, 13, 12, 11, 10]

sort() -> Ordena a lista.

In [42]:
numeros = [-10, 100, -1, 60, 76, 33, -30, 150]  #declara uma lista não ordenada

In [43]:
numeros

[-10, 100, -1, 60, 76, 33, -30, 150]

In [44]:
numeros.sort()  #ordena a lista

In [45]:
numeros

[-30, -10, -1, 33, 60, 76, 100, 150]

index() -> Retorna o primeiro índice do elemento especificado.

* index(value, start=0,stop)

In [46]:
lista = [5, 6, 7, 8]

In [47]:
lista.index(5)  #retorna o índice da primeira ocorrência do número 5

0

In [48]:
numeros = [1, 2, 3, 3, 3, 3, 3, 7, 7, 8, 9, 10, 10, 11, 12, 11]
numeros.index(3)  #retorna o índice da primeira ocorrência do número 3

2

In [49]:
numeros.index(3, 5)  #retorna o índice do valor3, começando a contar a partir do índice 5

5